extends layout
block content
  section.section
    section
      h1(style='text-align: center; color:white') Welcome to ACE that bodyy!
    section.first-section
      h2 FITNESS
      p  Our fitness classes are designed to cater individuals to all fitness levels. From beginners to advanced athlete, our experienced instructors will guide you through a variety of exercise and workouts as you journey to you fitness goals.
      a.submit-button(href='/fitness') Get Started
    section

    section.second-section
      h2 MINDFULLNESS
      p  This is exercise offers you a peaceful and rejuvenating experience allowing you to relax your mind and body. The lesson based on Bible teachings, provides you with techniques that enhance overall well-being, improve focus and reduce stress.
      a.submit-button(href='/mindfulness') Get Started
    section

    section
      h2 Gym Wear and Accessories
      p  Our gym wear and accessories cart is stocked with wide range of high quality workout apparel and equipment. Whether you need new gym shoes, clothes, or accessories such as water bottles and resistance band, we've got you sorted to enhance your workout and stay motivated.
      a.submit-button(href='/gymwear') View Shop
    section
    h3 Get in Touch:
     div.socials-container
            i
              a.contact-icon#twitter(href='https://twitter.com/itsz-AJ')
                img(src='images/twitter-logo.png', width='25', height='25')
            i
              a.contact-icon#github(href='https://github.com/aisha006')
                img(src='images/github-logo.png', width='30', height='30')
            i
              a.contact-icon#instagram(href='https://instagram.com/itsz-AJ')
                img(src='images/instagram-png-image.png', width='30', height='30')
            i
              a.contact-icon#linkedin(href='https://www.linkedin.com/in/aisha-njeri-aa71a9289?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bj0niEaJTQD28Te822KWWuw%3D%3D')
                img(src='images/linkedin logo.png', width='30', height='30')

    section
      
      footer.copyright(style='background-color: var(--darker); text-align: center;') &copy;2023. ALL OF THE RIGHTS RESERVED

