extends layout
block content
  div.text-center
    form(class ="signin" action="/login", method="POST")
      if error
        p.text-danger Error !{message}
      h2 LOGIN 
      span
      button(onclick='closePopup()') Close
        script.function closePopup() {overlay.style.display = 'none';}
      div.input-container
        label(for="username",) Username:
        input(type="email", placeholder="Enter email", name="user_email_address", id="username", autoComplete="false")
      div.input-container
        label(for="password") Password:
        input(type="password", placeholder="Enter password", name="user_password", id="password", autoComplete="false")
      button.submit(type="submit") Submit
      div
        input(type="checkbox" value="remember-me")
        label(for="remember-me") Remember Me
        span 
        <a type="button" href="/forgotpassword" >forgot my password</a>

      div
        p Not a member?
          span
            a.signup-button(href='/signup', type='button') sign up
      div  
        p
              


             
            